<input type="number" min="0" max="99" [(ngModel)]="jours" #joursInput (focus)="joursInput.select()"
       (change)="formater()"/> j
<input type="number" min="0" max="999" [(ngModel)]="heures" #heuresInput (focus)="heuresInput.select()"
       (change)="formater()"/> h
<input type="number" min="0" max="59" [(ngModel)]="minutes" #minutesInput (focus)="minutesInput.select()"
       (change)="formater()"/> m
<input type="button" value="Formatter" (click)="formater($event)"/>&nbsp;
<span>{{ formate }}</span>
